*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.about-section{
    background:#111111;
    padding:100px 20px;
    color:#fff;
}

.container{
    max-width:1200px;
    margin:auto;
    display:flex;
    align-items:center;
    gap:60px;
}

.about-img,
.about-content{
    flex:1;
}

.about-img img{
    width:100%;
    display:block;
    border-radius:20px;
}

.sub-title{
    display:inline-block;
    color:#c89b5e;
    font-size:18px;
    margin-bottom:15px;
    text-transform:uppercase;
    letter-spacing:2px;
}

.about-content h2{
    font-size:48px;
    line-height:1.2;
    margin-bottom:20px;
}

.about-content p{
    color:#cfcfcf;
    line-height:1.8;
    margin-bottom:35px;
}

.about-features{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
    margin-bottom:40px;
}

.feature{
    background:#1a1a1a;
    padding:25px;
    border-radius:15px;
    flex:1;
    min-width:150px;
    text-align:center;
}

.feature h3{
    color:#c89b5e;
    font-size:35px;
    margin-bottom:10px;
}

.about-btn{
    display:inline-block;
    background:#c89b5e;
    color:#111;
    padding:15px 35px;
    border-radius:50px;
    text-decoration:none;
    font-weight:600;
    transition:0.4s;
}

.about-btn:hover{
    transform:translateY(-5px);
}

/* Responsive */

@media (max-width:991px){

    .container{
        flex-direction:column;
    }

    .about-content{
        text-align:center;
    }

    .about-features{
        justify-content:center;
    }

    .about-content h2{
        font-size:38px;
    }
}

@media (max-width:576px){

    .about-section{
        padding:70px 15px;
    }

    .about-content h2{
        font-size:30px;
    }

    .feature{
        min-width:100%;
    }

    .about-btn{
        width:100%;
        text-align:center;
    }
}
